table {
  empty-cells: show;
  font-family: 'HoneywellMCDU';
}

tr {
  /* 100 / 14 rows*/
  height: 7.14%;
}

@font-face {
  font-family: 'HoneywellMCDU';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/HoneywellMCDU.ttf');
}

@font-face {
  font-family: 'HoneywellMCDU';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/HoneywellMCDUSmall.ttf');
}
